* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

/* Header */
header::before {
    height: 30vh;
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../assets/andre-tan-THJJRUhNlEc-unsplash (1).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 20%;
    z-index: -1;
    filter: brightness(40%);
}

header {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: white;
    padding: 2em;
}

h1#title {
    font-size: 2rem;
    font-weight: 800;
    margin: 0;
}

a#toggle {
    color: white;
    text-decoration: none;
    margin: 1em 0;
}

/* Search Box */
form.search-box {
    display: flex;
    width: 90%;
    border: 1px solid #D1D5DB;
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    color: #6B7280;
    box-shadow: 0px 1px 2px 0px #0000000D;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-self: center;
}

form.search-box i {
    padding: .75em;
}

form.search-box input {
    flex: 1;
    border: none;
    outline: none;
    padding: .75em;
    width: 100%;
}

form.search-box button {
    border: 1px solid #D1D5DB;
    background-color: #F9FAFB;
    padding: .75em 1.25em;
    cursor: pointer;
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding-top: 1.5em;
}

.centered {
    justify-content: center;
}

div.placeholder {
    color: #DFDDDD;
    text-align: center;
}

i.custom-icon {
    font-size: 4rem;
}

div.placeholder p {
    font-size: 1.125rem;
    font-weight: 700;
    margin: 0;
}

div.placeholder p.desc {
    margin-bottom: .5em;
}

div.placeholder span {
    color: #363636;
    font-size: .875rem;
    font-weight: 700;
}

div.movie {
    color: #111827;
    display: flex;
    border-bottom: 1.5px solid #E5E7EB;
    width: 85%;
    margin: 0 auto;
    padding-block: 1.5em;
    gap: 1em;
}

img.poster {
    width: 100px;
    object-fit: contain;
}

h3.movie-title {
    color: #000000;
    font-size: 1.125rem;
    margin: 0;
}

span.rating {
    font-size: .75rem;
}

span.rating i {
    color: #FEC654;
}

section.details {
    display: flex;
    flex-direction: column;
    gap: .75em;
}

div.detail-body {
    display: grid;
    grid-template-areas:
        " misc "
        " watch "
    ;
    row-gap: .5em;
}

div.detail-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section.details p {
    font-size: .625rem;
    margin: 0;
}

div.misc {
    grid-area: misc;
    display: flex;
    flex-direction: row;
    gap: .5em;
}

span.toggle-watchlist {
    grid-area: watch;
    width: fit-content;
    font-size: .75rem;
    cursor: pointer;
}

section.details p.plot {
    color: #6B7280;
    font-size: .75rem;
}

@media(min-width: 1024px) {
    header {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-inline: 10em;
    }

    h1#title {
        font-size: 3rem;
    }

    form.search-box {
        width: 85%;
    }

    i.custom-icon {
        font-size: 5em;
    }

    div.placeholder p {
        font-size: 1.5em;
    }

    div.placeholder span {
        font-size: 1em;
    }

    div.movie {
        padding-block: 2.5em;
        gap: 2em;
    }

    img.poster {
        width: 200px;
    }

    section.details {
        gap: 1em;
    }

    div.detail-header {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 1.5em;
    }

    h3.movie-title {
        font-size: 1.75rem;
    }

    span.rating {
        font-size: 1.25rem;
    }

    div.detail-body {
        display: flex;
        gap: 3em;
    }

    div.misc {
        gap: 1rem;
    }

    div.misc p {
        font-size: 1rem;
    }

    span.toggle-watchlist {
        font-size: 1rem;
    }

    section.details p.plot {
        font-size: 1.25rem;
    }
}